.header {
    display:flex;
    flex-direction:row;
    flex-shrink:0;
    height:40px;
    justify-content:space-between;
    background-color:white;
    margin-bottom:15px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    border-right-width:0px;
    border-top-width:0px;
    border-left-width:0px;
    border-bottom-width:1px;
    border-style:solid;
    z-index:100;
    border-color:rgb(217, 216, 216);
}

.left {
    display:flex;
    align-items:center;
    margin-right:60px;
}

.middle {
    display:flex;
    flex:1;
    align-items:center;
    max-width:300px;
    min-width: 70px;
}

.right {
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-shrink:0;
    margin-right:20px;
    margin-left:40px;
    width:120px;
    justify-content:space-between;
}

.ham {
    width:17px;
    height:17px;
    margin-left:10px;
    margin-right:10px;
}

.ylg {
    width:60px;
    height:60px;
}



.voice {
    width:14px;
    height:14px;
    object-fit:strech;
    border-radius:200px;
}

.s {
    flex:1;
    width:0;
    border-radius:2px;
    border-color:rgb(188, 188, 188);
    border-style:solid;
    border-width:1px;
    padding-top:5px;
    padding-left:10px;
    padding-bottom:5px;
    box-shadow:inset 0px 0px 2px rgba(0,0,0,0.15);
}

.s:active {
    border-color:rgb(188, 188, 188);
    border-style:solid;
    border-width:1px;
}

button {
    background-color: rgb(248, 248, 248);
    border-width:1px;
    border-color:rgb(188, 188, 188);
    border-style:solid;
}

.v {
    height:30px;
    width:30px;
    margin-left:10px;
    border-width:0;
    border-radius:300px;
}

.s::placeholder {
    vertical-align: middle;
    margin-left:10px;
    font-size:10px;
    color:rgb(150, 149, 149);
    font-family:Roboto,arial;
}


.i {
    height:15px;
    width:15px;
    object-fit:cover;
} 

.ic {
    height:20px;
    width:2px;
    object-fit:cover;

}



.count {
    position: absolute;
    top:-3px;
    right:-7px;
    font-family:roboto,Arial;
    font-size:6px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:4px;
    padding-right:4px;
    border-radius:100px;
    color:white;
    background-color:rgb(200,0,0);
    border-color:white;
    border-style:solid;
    border-width:1px;
}

.sa ,.v ,.create,.youtube-apps,.n {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
    cursor:pointer;
}

.sa .tooltip ,.v .tooltip,
.create .tooltip,
.youtube-apps .tooltip,
.n .tooltip {
    position:absolute;
    color:white;
    background-color:rgb(104, 104, 104);
    font-family:Roboto,Arial;
    font-size:8px;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:4px;
    padding-right:4px;
    border-radius:1px;
    border-radius:2px;
    bottom:-30px;
    opacity:0;
    pointer-events:none;
    transition:opacity 0.15s;
    white-space:nowrap;
}

.sa:hover .tooltip, 
.v:hover .tooltip, 
.create:hover .tooltip,
.youtube-apps:hover .tooltip,
.n:hover .tooltip {
    opacity:1;
}

.search {
    height:23px;
    width:30px;
    object-fit:contain;
}

